<ion-item *ngIf="message" [routerLink]="'/message/' + message.bikeId" [detail]="true">
    <ion-img style="width: 4em; height: 5em" src="{{ message.bikeImage }}" alt="Imagen de moto"></ion-img>
    <ion-label class="ion-text-wrap" style="margin-left: 16px">
        <h6>{{message.bikeBrand}}</h6>
        <p style="color: #7d7d7d">{{message.bikeModel}}</p>
    </ion-label>
</ion-item>

