<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>message-detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="message">
  <ion-item>
    <ion-label class="ion-text-wrap">
      <ion-card>
        <ion-card-header>
          <ion-note>{{message.bikeYear}}</ion-note>
          <ion-img src="{{ message.bikeImage }}"></ion-img>
          <ion-card-title>{{ message.bikeBrand }}</ion-card-title>
          <ion-card-subtitle>{{message.bikeModel}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <p style="text-align: justify">{{message.bikeContent}}</p>
          <p style="text-align: right; color: crimson">{{message.bikePrice}}€</p>
        </ion-card-content>
      </ion-card>
    </ion-label>
  </ion-item>
</ion-content>
