<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Motos Ducati
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>Motos Ducati</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="ion-padding">
    <ion-list>
      <app-message *ngFor="let message of getMessages()" [message]="message"></app-message>
    </ion-list>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="ion-padding">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
